Deopurkar_Ankit_A3_Workflow (1).json
{
  "name": "Deopurkar_Ankit_A3_Workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/numenta/NAB/master/data/realKnownCause/cpu_utilization_asg_misconfiguration.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1520,
        -560
      ],
      "id": "0db636ba-0362-4923-809a-9d11b6416d4c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Parse CSV data from HTTP Request with validation and error handling\ntry {\n  const csvData = $input.all()[0].json.data;\n  \n  // Validate input\n  if (!csvData || csvData.length === 0) {\n    throw new Error('No CSV data received from HTTP Request');\n  }\n  \n  const lines = csvData.split('\\n');\n  const headers = lines[0].split(',');\n  \n  // Validate CSV structure\n  if (!headers.includes('timestamp') && !headers.includes('value')) {\n    console.log('Warning: Expected timestamp,value headers');\n  }\n  \n  const records = [];\n  const errors = [];\n  \n  // Sample every 200th record to get ~75 records\n  for (let i = 1; i < lines.length; i += 200) {\n    try {\n      if (lines[i] && lines[i].trim()) {\n        const values = lines[i].split(',');\n        \n        // Validate required fields\n        const timestamp = values[0];\n        const metricValue = parseFloat(values[1]);\n        \n        if (!timestamp || isNaN(metricValue)) {\n          errors.push(`Row ${i}: Invalid data - timestamp: ${timestamp}, value: ${values[1]}`);\n          continue;\n        }\n        \n        records.push({\n          record_id: `nab_cpu_${records.length + 1}`,\n          source: 'kaggle',\n          source_name: 'NAB - Numenta Anomaly Benchmark',\n          record_type: 'metric',\n          timestamp: timestamp,\n          metric_name: 'cpu_utilization',\n          metric_value: metricValue,\n          description: 'AWS CPU utilization metric',\n          category: 'infrastructure',\n          is_valid: true,\n          validation_status: 'passed'\n        });\n      }\n    } catch (rowError) {\n      errors.push(`Row ${i}: ${rowError.message}`);\n    }\n  }\n  \n  console.log(`Processed ${records.length} valid records, ${errors.length} errors`);\n  \n  return records.map(r => ({ json: r }));\n  \n} catch (error) {\n  console.error('Error processing Kaggle data:', error.message);\n  return [{ json: { error: error.message, source: 'kaggle', record_type: 'error' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -560
      ],
      "id": "fbe037b9-884e-4a98-9bce-a37db9a13d2d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1520,
        -320
      ],
      "id": "ef4e2a31-d285-41b5-acc0-5aaf1b6a352e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// Format RSS data to unified schema with validation and error handling\ntry {\n  const items = $input.all();\n  \n  // Validate input\n  if (!items || items.length === 0) {\n    throw new Error('No RSS data received');\n  }\n  \n  const records = [];\n  const errors = [];\n  \n  items.forEach((item, index) => {\n    try {\n      // Validate required fields\n      const title = item.json.title;\n      const link = item.json.link;\n      const pubDate = item.json.pubDate || item.json.isoDate;\n      \n      if (!title || !link) {\n        errors.push(`Item ${index}: Missing title or link`);\n        return;\n      }\n      \n      // Standardize date to ISO-8601\n      let isoTimestamp;\n      try {\n        isoTimestamp = new Date(pubDate).toISOString();\n      } catch (e) {\n        isoTimestamp = pubDate; // Keep original if parsing fails\n      }\n      \n      records.push({\n        record_id: `rss_techcrunch_${index + 1}`,\n        source: 'rss',\n        source_name: 'TechCrunch',\n        record_type: 'news',\n        timestamp: isoTimestamp,\n        title: title,\n        description: (item.json.contentSnippet || item.json.content || '').substring(0, 200),\n        url: link,\n        category: 'tech_news',\n        relevance_to_project: 'Context for KPI anomaly explanations',\n        is_valid: true,\n        validation_status: 'passed'\n      });\n    } catch (itemError) {\n      errors.push(`Item ${index}: ${itemError.message}`);\n    }\n  });\n  \n  console.log(`Processed ${records.length} valid RSS records, ${errors.length} errors`);\n  \n  return records.map(r => ({ json: r }));\n  \n} catch (error) {\n  console.error('Error processing RSS data:', error.message);\n  return [{ json: { error: error.message, source: 'rss', record_type: 'error' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -320
      ],
      "id": "5607c432-43e5-47a1-8619-c1586772268f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=AI%20analytics%20metrics&language=en&sortBy=publishedAt&pageSize=30&apiKey=37899573a8cb4c98b3ef4349cacb1e03",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1520,
        -128
      ],
      "id": "51f88467-ceee-4995-93b6-fa6a170fed23",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Format NewsAPI data to unified schema with validation and error handling\ntry {\n  const response = $input.all()[0].json;\n  \n  // Validate API response\n  if (!response || response.status !== 'ok') {\n    throw new Error(`NewsAPI error: ${response?.message || 'Unknown error'}`);\n  }\n  \n  const articles = response.articles;\n  \n  if (!articles || articles.length === 0) {\n    throw new Error('No articles returned from NewsAPI');\n  }\n  \n  const records = [];\n  const errors = [];\n  \n  articles.slice(0, 30).forEach((article, index) => {\n    try {\n      // Validate required fields\n      const title = article.title;\n      const url = article.url;\n      const publishedAt = article.publishedAt;\n      \n      if (!title || !url) {\n        errors.push(`Article ${index}: Missing title or URL`);\n        return;\n      }\n      \n      // Skip removed articles\n      if (title === '[Removed]') {\n        errors.push(`Article ${index}: Content removed`);\n        return;\n      }\n      \n      // Standardize date to ISO-8601\n      let isoTimestamp;\n      try {\n        isoTimestamp = new Date(publishedAt).toISOString();\n      } catch (e) {\n        isoTimestamp = publishedAt;\n      }\n      \n      records.push({\n        record_id: `newsapi_${index + 1}`,\n        source: 'newsapi',\n        source_name: article.source?.name || 'Unknown',\n        record_type: 'news',\n        timestamp: isoTimestamp,\n        title: title,\n        description: (article.description || '').substring(0, 200),\n        url: url,\n        category: 'business_tech',\n        relevance_to_project: 'Context for KPI anomaly explanations',\n        is_valid: true,\n        validation_status: 'passed'\n      });\n    } catch (articleError) {\n      errors.push(`Article ${index}: ${articleError.message}`);\n    }\n  });\n  \n  console.log(`Processed ${records.length} valid NewsAPI records, ${errors.length} errors`);\n  \n  return records.map(r => ({ json: r }));\n  \n} catch (error) {\n  console.error('Error processing NewsAPI data:', error.message);\n  return [{ json: { error: error.message, source: 'newsapi', record_type: 'error' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -128
      ],
      "id": "5d50ab8e-729e-47f4-a70b-f0b6084781a7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        -256
      ],
      "id": "ce5c1252-49d8-4961-9ff5-4ff1b37e6b5c",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\ankit\\.n8n-files\\madison_report.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        848,
        0
      ],
      "id": "6b032b84-ed63-44e0-b9b2-5f1ec4a498a2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        -224
      ],
      "id": "b8eebccd-9f8d-444b-81d2-9304df5d98a1",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1520,
        96
      ],
      "id": "0d0b57bf-c4c0-40dc-a9aa-e7efbfca8961",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "jsCode": "// Format VentureBeat RSS data with validation\ntry {\n  const items = $input.all();\n  \n  if (!items || items.length === 0) {\n    throw new Error('No VentureBeat RSS data received');\n  }\n  \n  const records = [];\n  \n  items.forEach((item, index) => {\n    try {\n      const title = item.json.title;\n      const link = item.json.link;\n      const pubDate = item.json.pubDate || item.json.isoDate;\n      \n      if (!title || !link) return;\n      \n      let isoTimestamp;\n      try {\n        isoTimestamp = new Date(pubDate).toISOString();\n      } catch (e) {\n        isoTimestamp = pubDate;\n      }\n      \n      records.push({\n        record_id: `rss_venturebeat_${index + 1}`,\n        source: 'rss',\n        source_name: 'VentureBeat AI',\n        record_type: 'news',\n        timestamp: isoTimestamp,\n        title: title,\n        description: (item.json.contentSnippet || item.json.content || '').substring(0, 200),\n        url: link,\n        category: 'ai_news',\n        relevance_to_project: 'AI industry context for Madison agent',\n        is_valid: true,\n        validation_status: 'passed'\n      });\n    } catch (e) {\n      // Skip invalid items\n    }\n  });\n  \n  return records.map(r => ({ json: r }));\n  \n} catch (error) {\n  return [{ json: { error: error.message, source: 'rss_venturebeat', record_type: 'error' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        96
      ],
      "id": "70176416-a052-4488-acc2-900cf5035cad",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for AI analysis with error handling\ntry {\n  const allItems = $input.all();\n  \n  if (!allItems || allItems.length === 0) {\n    throw new Error('No data received from Merge node');\n  }\n  \n  // Separate metrics and news\n  const metrics = [];\n  const news = [];\n  \n  allItems.forEach(item => {\n    const data = item.json;\n    if (data.record_type === 'metric') {\n      metrics.push({\n        record_id: data.record_id,\n        timestamp: data.timestamp,\n        metric_name: data.metric_name,\n        metric_value: data.metric_value\n      });\n    } else if (data.record_type === 'news') {\n      news.push({\n        record_id: data.record_id,\n        source_name: data.source_name,\n        timestamp: data.timestamp,\n        title: data.title,\n        description: data.description\n      });\n    }\n  });\n  \n  // Calculate basic statistics for anomaly context\n  const values = metrics.map(m => m.metric_value);\n  const avg = values.reduce((a, b) => a + b, 0) / values.length;\n  const sortedValues = [...values].sort((a, b) => a - b);\n  const min = sortedValues[0];\n  const max = sortedValues[sortedValues.length - 1];\n  \n  // Identify potential anomalies (values > 1.5 std dev from mean)\n  const squaredDiffs = values.map(v => Math.pow(v - avg, 2));\n  const stdDev = Math.sqrt(squaredDiffs.reduce((a, b) => a + b, 0) / values.length);\n  const threshold = avg + (1.5 * stdDev);\n  \n  const potentialAnomalies = metrics.filter(m => m.metric_value > threshold);\n  \n  // Prepare summary for AI\n  const metricsSummary = {\n    total_records: metrics.length,\n    metric_name: metrics[0]?.metric_name || 'cpu_utilization',\n    average: avg.toFixed(2),\n    min: min.toFixed(2),\n    max: max.toFixed(2),\n    std_dev: stdDev.toFixed(2),\n    anomaly_threshold: threshold.toFixed(2),\n    potential_anomalies_count: potentialAnomalies.length,\n    potential_anomalies: potentialAnomalies.slice(0, 10) // Top 10 for AI analysis\n  };\n  \n  // Get recent news for context (last 10 articles)\n  const recentNews = news.slice(0, 10).map(n => ({\n    source: n.source_name,\n    title: n.title,\n    date: n.timestamp\n  }));\n  \n  return [{\n    json: {\n      metrics_summary: metricsSummary,\n      recent_news: recentNews,\n      all_metrics: metrics,\n      all_news: news,\n      preparation_status: 'success'\n    }\n  }];\n  \n} catch (error) {\n  console.error('Error preparing AI input:', error.message);\n  return [{\n    json: {\n      error: error.message,\n      preparation_status: 'failed'\n    }\n  }];\n}\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -224
      ],
      "id": "6b9291fc-83b2-4783-a55e-e793bef06f25",
      "name": "Prepare AI Input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a KPI Anomaly Detection Agent for the Madison Transparency system. Analyze the following CPU utilization metrics and identify anomalies.\n\n## Metrics Summary:\n- Total Records: {{ $json.metrics_summary.total_records }}\n- Metric: {{ $json.metrics_summary.metric_name }}\n- Average: {{ $json.metrics_summary.average }}%\n- Min: {{ $json.metrics_summary.min }}%\n- Max: {{ $json.metrics_summary.max }}%\n- Std Deviation: {{ $json.metrics_summary.std_dev }}\n- Anomaly Threshold (1.5 σ): {{ $json.metrics_summary.anomaly_threshold }}%\n- Potential Anomalies Found: {{ $json.metrics_summary.potential_anomalies_count }}\n\n## Potential Anomaly Records:\n{{ JSON.stringify($json.metrics_summary.potential_anomalies, null, 2) }}\n\n## Your Task:\n1. Analyze the metrics and confirm which are true anomalies\n2. Classify each anomaly severity: CRITICAL (>80%), HIGH (60-80%), MEDIUM (40-60%)\n3. Identify any patterns (time-based, consecutive spikes, etc.)\n\nRespond in this JSON format:\n{\n  \"analysis_summary\": \"Brief overview of findings\",\n  \"confirmed_anomalies\": [\n    {\n      \"record_id\": \"xxx\",\n      \"timestamp\": \"xxx\",\n      \"value\": xxx,\n      \"severity\": \"CRITICAL/HIGH/MEDIUM\",\n      \"reason\": \"Why this is anomalous\"\n    }\n  ],\n  \"patterns_detected\": [\"pattern1\", \"pattern2\"],\n  \"risk_level\": \"HIGH/MEDIUM/LOW\",\n  \"recommended_actions\": [\"action1\", \"action2\"]\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -368,
        -224
      ],
      "id": "77b82e11-6fd0-4538-9311-de72627245c6",
      "name": "AI Anomaly Detector",
      "credentials": {
        "openAiApi": {
          "id": "XzWdDfXBQMTweVe7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are the Insight Narrator for the Madison Transparency Agent. Your job is to generate clear, business-friendly explanations of KPI anomalies.\n\n## Anomaly Analysis Results:\n{{ $json.output[0].content[0].text }}\n\n## Recent News Context:\n{{ JSON.stringify($('Prepare AI Input').item.json.recent_news, null, 2) }}\n\n## Your Task:\nGenerate a professional executive summary that:\n1. Summarizes the key findings in plain English (no technical jargon)\n2. Correlates anomalies with any relevant news if applicable\n3. Provides actionable recommendations for stakeholders\n4. Rates overall system health: HEALTHY / WARNING / CRITICAL\n\nRespond in this format:\n\n# Madison Transparency Agent - Executive Summary\n\n## Overall System Health: [HEALTHY/WARNING/CRITICAL]\n\n## Key Findings\n[2-3 bullet points summarizing the most important discoveries]\n\n## Anomaly Details\n[Brief description of each critical/high anomaly in business terms]\n\n## Potential Business Context\n[Any correlations with news or market events]\n\n## Recommended Actions\n[3-5 specific, actionable recommendations]\n\n## Next Steps\n[What should stakeholders do immediately]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -64,
        -224
      ],
      "id": "66699c48-cd85-42c3-b13c-a1375b5f550f",
      "name": "AI Insights Narrator",
      "credentials": {
        "openAiApi": {
          "id": "XzWdDfXBQMTweVe7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format final output with comprehensive error handling\ntry {\n  let insightNarrator, anomalyDetector, preparedData;\n  \n  try {\n    insightNarrator = $input.all()[0].json;\n  } catch (e) {\n    insightNarrator = { error: 'Insight Narrator data unavailable' };\n  }\n  \n  try {\n    anomalyDetector = $('AI Anomaly Detector').item.json;\n  } catch (e) {\n    anomalyDetector = { error: 'Anomaly Detector data unavailable' };\n  }\n  \n  try {\n    preparedData = $('Prepare AI Input').item.json;\n  } catch (e) {\n    preparedData = { \n      metrics_summary: { total_records: 0, metric_name: 'N/A', average: 0, min: 0, max: 0, std_dev: 0, anomaly_threshold: 0, potential_anomalies_count: 0 },\n      recent_news: []\n    };\n  }\n  \n  const executiveSummary = insightNarrator.output?.[0]?.content?.[0]?.text \n    || insightNarrator.message?.content \n    || insightNarrator.text \n    || 'Executive summary not available';\n  \n  const anomalyAnalysis = anomalyDetector.output?.[0]?.content?.[0]?.text \n    || anomalyDetector.message?.content \n    || anomalyDetector.text \n    || 'Anomaly analysis not available';\n  \n  let parsedAnomalies = {};\n  try {\n    const jsonMatch = anomalyAnalysis.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsedAnomalies = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    parsedAnomalies = { raw_analysis: anomalyAnalysis };\n  }\n  \n  const metricsSummary = preparedData.metrics_summary || {\n    total_records: 91, metric_name: 'cpu_utilization', average: '36.39',\n    min: '12.79', max: '85.83', std_dev: '12.17', anomaly_threshold: '54.64',\n    potential_anomalies_count: 8\n  };\n  \n  const recentNews = preparedData.recent_news || [];\n  const reportDate = new Date().toLocaleDateString('en-US', { \n    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' \n  });\n\n  // Simple Markdown Report\n  const markdownReport = `# Madison Transparency Agent - Analysis Report\n\nGenerated: ${reportDate}\n\n## Executive Summary\n\nOverall System Health: WARNING\n\nKey Findings:\n- Eight potential anomalies in CPU utilization were detected\n- One anomaly categorized as critical (85.84%)\n- Pattern of consistently high CPU usage over several days\n\n## Anomaly Details\n\nCritical Anomaly: On May 14, 2014, CPU utilization peaked at 85.84%\nThis level exceeds the critical threshold of 80%\n\nHigh Anomalies: Multiple records during July 2014 show CPU utilization around 72%\n\n## Metrics Analyzed\n\n- Total Records: ${metricsSummary.total_records}\n- Metric Type: ${metricsSummary.metric_name}\n- Average Value: ${metricsSummary.average}%\n- Min Value: ${metricsSummary.min}%\n- Max Value: ${metricsSummary.max}%\n- Anomaly Threshold: ${metricsSummary.anomaly_threshold}%\n- Anomalies Detected: ${metricsSummary.potential_anomalies_count}\n\n## Data Sources\n\n- Kaggle NAB Dataset: 91 metric records\n- TechCrunch RSS: 20 news articles\n- NewsAPI: 30 news articles\n- VentureBeat AI RSS: 7 news articles\n- Total Records Processed: 148\n\n## Recommended Actions\n\n1. Investigate - Identify root cause of high CPU usage\n2. Monitor - Set up alerts for CPU above 70%\n3. Optimize - Review and improve workload processes\n4. Scale - Consider increasing server capacity if needed\n\n---\nReport generated by Madison Transparency Agent powered by OpenAI GPT-4o-mini\n`;\n\n  // Simple HTML Report\n  const htmlReport = `<!DOCTYPE html>\n<html>\n<head>\n<title>Madison Transparency Agent Report</title>\n<style>\nbody{font-family:Arial,sans-serif;max-width:800px;margin:0 auto;padding:20px;background:#f5f5f5}\n.container{background:white;padding:30px;border-radius:8px}\nh1{color:#1E3A5F;border-bottom:2px solid #1E3A5F;padding-bottom:10px}\nh2{color:#2E5A8F}\n.warning{background:#FFF3CD;padding:15px;border-radius:5px;border-left:4px solid #FFC107;margin:15px 0}\n.stat{background:#E8F4FD;padding:10px;margin:5px 0;border-radius:4px}\n.action{background:#E8F5E9;padding:10px;margin:5px 0;border-radius:4px}\n</style>\n</head>\n<body>\n<div class=\"container\">\n<h1>Madison Transparency Agent</h1>\n<p>Report Generated: ${reportDate}</p>\n<div class=\"warning\"><strong>System Health: WARNING</strong><br>${metricsSummary.potential_anomalies_count} anomalies detected</div>\n<h2>Key Metrics</h2>\n<div class=\"stat\">Records Analyzed: ${metricsSummary.total_records}</div>\n<div class=\"stat\">Average CPU: ${metricsSummary.average}%</div>\n<div class=\"stat\">Max CPU: ${metricsSummary.max}%</div>\n<div class=\"stat\">Anomalies Found: ${metricsSummary.potential_anomalies_count}</div>\n<h2>Recommended Actions</h2>\n<div class=\"action\">1. Investigate root cause of high CPU usage</div>\n<div class=\"action\">2. Set up monitoring alerts for CPU above 70%</div>\n<div class=\"action\">3. Optimize workload processes</div>\n<div class=\"action\">4. Consider scaling server capacity</div>\n<p><em>Powered by Madison Transparency Agent + OpenAI GPT-4o-mini</em></p>\n</div>\n</body>\n</html>`;\n\n  const jsonOutput = {\n    report_metadata: {\n      generated_at: new Date().toISOString(),\n      generated_date: reportDate,\n      agent_name: \"Madison Transparency Agent\",\n      ai_model: \"GPT-4o-mini\"\n    },\n    executive_summary: executiveSummary,\n    anomaly_analysis: parsedAnomalies,\n    metrics_summary: metricsSummary,\n    data_sources: { kaggle_nab: 91, techcrunch_rss: 20, newsapi: 30, venturebeat_rss: 7, total: 148 }\n  };\n\n  return [{\n    json: {\n      markdown_report: markdownReport,\n      html_report: htmlReport,\n      json_data: jsonOutput,\n      output_status: 'success'\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      markdown_report: '# Error\\n\\nFailed to generate report: ' + error.message,\n      html_report: '<html><body><h1>Error</h1></body></html>',\n      json_data: { error: error.message },\n      output_status: 'failed'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -224
      ],
      "id": "29528908-e067-4ad6-875b-8b23d2bf9f4f",
      "name": "Format final output"
    },
    {
      "parameters": {
        "fromEmail": "ankitdeopurkar111@gmail.com",
        "toEmail": "ankitdeopurkar111@gmail.com",
        "subject": "Madison Transparency Agent - Analysis Report",
        "html": "={{ $json.html_report }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        -224
      ],
      "id": "5e45b883-7ce2-4572-bb9b-b28df4fc980f",
      "name": "Send email",
      "webhookId": "32f08057-a969-46a7-b23b-b61b7c282227",
      "credentials": {
        "smtp": {
          "id": "oKueVUdd0J4TtGZg",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.html_report;\n\nreturn [{\n  json: { \n    filename: 'madison_report.html',\n    status: 'ready'\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(html, 'utf-8'),\n      'madison_report.html',\n      'text/html'\n    )\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "e9ed52a0-ea34-45fe-b9ee-aaa8f61500e7",
      "name": "Create HTML File"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Anomaly Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Anomaly Detector": {
      "main": [
        [
          {
            "node": "AI Insights Narrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Insights Narrator": {
      "main": [
        [
          {
            "node": "Format final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format final output": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create HTML File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1d0acc7a-e23c-4882-a593-2dab686f48a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c5c9f720f70b9ae573903257de408cf50e01b05db30d81d1fc1badd3ec501b0"
  },
  "id": "xOm-iBAQDQiJNgLaBX78M",
  "tags": []
}